@font-face {
    font-family: "MemphisRiver";
    src: url(fonts/k/Toadler.ttf);

}

@font-face {
    font-family: "angal";
    src: url(fonts/Pacifico/Pacifico-Regular.ttf);

}

body {
    background-image: url('https://wallpapers.com/images/hd/aerial-autumn-evergreen-forest-s1xgk4dcw5xn2c1u.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.1);
}

.container {
    width: 25%;
    height: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(14 16 15 / 80%);
}

.op {
    width: 100%;
    height: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
}

input:focus {
    outline: none;
    border-color: #d09e2bbf;
    box-shadow: none;
}

.ui {
    width: auto;
    height: auto;
    text-align: center;
}

.h {
    font-family: "MemphisRiver";
    font-size: x-large;
    color: #d09e2bbf;
    opacity: 0.5;
}

.io {
    width: 70%;
    height: 30px;
    border-bottom: 2px solid #d09e2bbf;
    font-family: ui-rounded;
    font-size: unset;
    background-color: transparent;
    color: #896e25;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 13%;
    text-indent: 6%;
}

.oo{
    color: #896e25;
    margin-left: 40px;
    position: absolute;
    left: 8%;
    font-size: 15px;
    font-family: "angal";
    transform:  translateX(-8.5px) translateY(5px);;
}



input:focus + .oo
,.highlight{
    font-size: 15px;
    font-weight: 300;
    transform: translateY(-22px) translateX(-16px);;
    transition: transform 0.2s ease-in-out;
}

.default {
    font-size: 14px;
    transform: translateY(-14px) translateX(-8px);
    transition: transform 0.2s ease-in-out;
}


.login {
    width: 30%;
    height: 35px;
    background-color: #d09e2bbf;
    color: #000000c2;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    font-family: 'angal'
}

.login:hover {
    background-color: #896e25 #d09e2bbf;
    color: #ffffffab;
    opacity: 0.8;
    transition: transform 0.2s ease-in-out;
}


a{
    text-decoration: none;
    color: #896e25;


}
